.git
.github
.gitignore
.gitattributes
.env
.env.*
!.env.example
.cache
.local
.run
.idea
.vscode
.claude
.pi
docker设备数据库
data
bin
*.db
*.db-shm
*.db-wal
*.log
*.cookie
*.headers
*.exe
*.pem
*.key
*.p12
*.pfx
*.jks
*.keystore
README.md
rc.txt
track*.bin
