MUSIC_SERVER_PORT=4533
MUSIC_SERVER_DATA_PATH=./data
MUSIC_SERVER_MUSIC_PATH=/path/to/your/music
MUSIC_SERVER_LIBRARY_NAME=Music
MUSIC_SERVER_ADMIN_USERNAME=admin
MUSIC_SERVER_ADMIN_PASSWORD=replace-with-at-least-12-characters
MUSIC_SERVER_API_TOKEN=replace-with-a-random-token-at-least-24-characters
MUSIC_SERVER_LOG_LEVEL=info
MUSIC_SERVER_COOKIE_SECURE=false
